
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.App{
  max-height: 500px;
  max-width: 500px;
}*/

.nav-bar{
  min-height: 5vh;
  background: white;
  text-align: center;
}

.footer{
  min-height: 15vh;
  background: white;
  text-align: center;
}

.home-page {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
}

.form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

.form-container  {
   padding: 2rem;
   background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
   position: relative;
   /*border-radius: 1em;*/
   /*box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);*/
   align-items: center;
   justify-content: space-around;
   height: 100vh;
}

.form-col {
  color: white;
  padding:  2rem;
  border-radius: 1em;
  /*background-color: #20c997;*/
  background-color:  #2F4050;
  box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
}


#login, #register, #register2 {
  text-align: center;
}


.Admin {
  background-color: white;
  height: 100vh;
  width: 100vw;
}

/*Sidebar*/
.Sidebar {
  height: 100%;
  /*max-height: 2000%;*/
  width: 20%;
  background-color: #2F4050;
  position: sticky;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  height: 5rem;
  width: 100%;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #293846;
}

.SidebarList #active {
  background-color: #293846;
}

.row #title {
  flex: 70%;
  display: grid;
  place-items: left;
}

.row #icon {
  flex: 30%;
  display: grid;
  /*border-style: none;*/
  /*place-items: center;*/
}


/*.accordion, .accordion-header {
  width: 100%;
  height: 100%;
  border-style: none;
  background-color: #2F4050;
}

.accordion-item {
  background-color: #2F4050;
}

.accordion-button.collapsed, .accordion-button {
  color: white;
  background-color: #2F4050;
  border-style: none;
}
*/
.Orders, .ProductsPage, .Users {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.ProductsPage .products-tabs {
  position: absolute;
  left: 25%;
  /*display: inline-block;*/
  width: 100%;
  flex-wrap: wrap;
}

/*.ProductsPage .Sidebar {
  display: inline-block;
}*/