
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

                            /*--------PAGES------------*/

.home-page{
  display: flex;
  flex-direction: column;
  height: 95vh;
  /*width: 100%;*/
  margin-top: 5vh;
  /*background: linear-gradient(-45deg, #48C9B0, #17A589 , #28B463, #2874A6);*/
  align-items: center;
  justify-content: center;
}

.home-page > h5 > .navlink {
  color: #1B4F72;
}

.shop-page{
  padding:  1rem;
  justify-content:  space-between ;
  align-items:  flex-start;
  display: flex;
  height: 95vh;
  width: 100%;
  margin-top: 5vh;
  flex-wrap: wrap;
  background: linear-gradient(-45deg, #48C9B0, #17A589 , #28B463, #2874A6);
}

/*--------checkout----------*/
.checkout-page {
   margin-top: 10vh;
   justify-content: center;
   align-items: center;
   
}

.product, .address {
  height: 300px;
  display: flex;
  flex-direction: column;
}

.product-quantity {
  width: 10%;
}

/*--------------end of checkout---------*/

/*----------ADMIN PAGES---------------*/
.Admin, .OrdersPage, .UsersPage, .ProductsPage {
  background-color: white;
  height: 95vh;
  width: 100%;
  margin-top: 5vh;
  display: flex;
}

/*----------ADMIN PRODUCTS PAGE-------------*/

.products-div {
  /*position: absolute;
  left: 22%;
  width: 100%;*/
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-items: center;
}

.ProductsPage {
  display:  flex;
}

div.card-body {
  /*background-color:   red;*/
  
}

.tab2{
  width: 50%
}

/*----------END OF ADMIN PRODUCTS PAGE-------------*/

/*----------ADMIN ORDERS PAGE-------------*/

.OrdersPage .orders-div {
  position: absolute;
  left: 22%;
  width: 100%;
  flex-wrap: wrap;
}

/*----------END OF ADMIN ORDERS PAGE-------------*/

/*----------ADMIN USERS PAGE-------------*/

.UsersPage .users-div {
  position: absolute;
  left: 22%;
  width: 100%;
  flex-wrap: wrap;
}

/*----------END OF ADMIN USERS PAGE-------------*/

                            /*------END OF PAGES-------*/


                            /*-------COMPONENTS--------*/

/*------------------NAVBAR-----------------*/

#navbar{
  height: 5vh;
  width:  100%;
  background: white;
  text-align: center;
  position: fixed ;
  /*top: 0;*/
  /*left:0;*/
  display:  flex;
}

.navbar-buttons{
  position:   absolute  ;
}


/*------------------END OF NAVBAR-----------------*/

/*------------------SIDEBAR-----------------*/
.Sidebar {
  height: 100%;
  /*max-height: 2000%;*/
  width: 20%;
  background-color: #2F4050;
  position: sticky;
  left: 0;
}

.Sidebar > .SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.Sidebar > .SidebarList > .sidebar-row-link {
  height: 5rem;
  width: 100%;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.Sidebar > .SidebarList > .sidebar-row-link:hover {
  cursor: pointer;
  background-color: #293846;
}

.Sidebar > .SidebarList > .sidebar-row-link > #sidebar-title {
  flex: 70%;
  display: grid;
  place-items: left;
}

.Sidebar > .SidebarList >.sidebar-row-link > #sidebar-icon {
  flex: 30%;
  display: grid;
  justify-content: center;
}

/*----------------END OF SIDEBAR---------------*/

/*----------------ACTIVE PRODUCT CARD----------*/


.active-product-card, .all-product-card {
  width: 275px;
  height: 260px;
  /*margin-top: 4%;*/
  /*margin-bottom: 4%;*/
  /*margin-left: 4%;*/
  /*margin-right: 0%;*/
  padding:  1rem;
  position: relative;
  border-radius: 12px;
  /*overflow: hidden;*/
  /*border: none;*/
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

@media (width<582px) {
  .active-product-card  {
    width:  100%;
  }
}

.active-product-card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  /*transform: scale(1.05, 1.05);*/
}

/*-----------END OF ACTIVE PRODUCT CARD-----------*/

                            /*----END OF COMPONENTS----*/



.form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

.form-container  {
  margin-top: 5vh;
   padding: 2rem;
   background: linear-gradient(-45deg, #48C9B0, #17A589 , #28B463, #2874A6);
   position: relative;
   /*border-radius: 1em;*/
   /*box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);*/
   align-items: center;
   justify-content: space-around;
   height: 100vh;
}

.form-col {
  color: white;
  padding:  2rem;
  border-radius: 1em;
  /*background-color: #20c997;*/
  background-color:  #2F4050;
  box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
}


#login, #register, #register2 {
  text-align: center;
}


